.header__nav {
    display: flex;
    overflow: hidden;
}

.header__logo {
    flex: 1;
    display: flex;
    position: relative;
    padding: 20px;
}

.header__logo-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: -1;
}

.header__logo h4{
    padding-left: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    font-family: var(--playfair-display);
    color: #fff;
    opacity: 0.8;
}
  
.header__menu, .header__menu-mobile {
    padding: 20px;
    flex: 1.232;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 64px; 
    list-style: none;
}
  
.header__menu li {
    position: relative;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    cursor: pointer;
}

.header__menu li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--primary-color);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.7s;
}

.header__menu li:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
  
.header__menu li img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.header__login-button {
    padding: 10px;
    border-radius: 36px;
    min-width: 100px;
    outline: none;
    border: none;
    background: var(--primary-color);
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    transition: 0.5s;
}

.header__login-button:hover {
    background: var(--secondary-color);
}
  
.header__menu-mobile {
    display: none;
    gap: 20px;
    position: relative;
}