.art-types {
    padding: 64px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    overflow: hidden;
}

.art-types__title {
    font-size: 56px;
    font-weight: var(--playfair-display);
    font-weight: 600;
    line-height: 70px;
    color: #fff;
    text-align: center;
}

.art-types__filters {
    margin-top: 48px;
    max-width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.art-types__filter-btn {
    padding: 10px 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.02);
    border-radius: 46px;
    font-size: 15px;
    font-weight: 300px;
    line-height: 25px;
    font-family: var(--plus-jakarta-sans);
    color: #fff;
    cursor: pointer;
}

.art-types__filter-btn img {
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.art-types__filter-btn.active {
    background: #fff;
    color: var(--primary-color);
}

.art-types__filter-btn:hover {
    background: #fff;
    color: var(--primary-color);
}

.art-types__catalogue {
    margin-top: 64px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 56px;
}

.art-types__button {
    width: fit-content;
    padding: 20px 30px;
    margin: 80px auto 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    font-family: var(--plus-jakarta-sans);
    color: #fff;
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    border-radius: 64px;
    cursor: pointer;
}

.art-types__button img {
    width: 14px;
    height: 14px;
    object-fit: contain;
    margin-left: 21px;
}

.art-types__card {
    display: none;
    padding: 38px;
    min-width: 260px;
    height: fit-content;
    align-items: center;
    flex: 0 0 calc(100% / 4);
    flex-direction: column;
    scroll-snap-align: center;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.05);
    border: rgba(255, 255, 255, 0.2);
}

.art-types__card[data-category="all"] {
    display: flex;
}

.art-types__card-image {
    width: 110px;
    height: 84px;
    object-fit: contain;
}

.art-types__card-title {
    margin-top: 47px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    font-family: var(--playfair-display);
    color: #fff;
    text-align: center;
}

.art-types__card.active-card {
    background: #fff;
    min-width: 340px;
}

.art-types__card.active-card .art-types__card-image {
    width: 240px;
    height: 160px;
}

.art-types__card.active-card .art-types__card-title {
    color: var(--black-500);
    font-size: 32px;
}
